{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dahsboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
</head>
<body>
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-3">
            <h2>{{ user.username }}'s dashboard</h2>

            
            <button style="margin-top: 50px;" type="submit" class="btn col-10 col-md-8 col-lg-12 btn-outline-info btn"  data-toggle="button" aria-pressed="false" >
                <h4><a style="color:white;" href="{% url 'createtask' %}">Create a Task</a></h4> 
            </button>

            <br>

            <button style="margin-top: 50px;" type="submit" class="btn col-10 col-md-8 col-lg-12 btn-outline-danger btn"  data-toggle="button" aria-pressed="false" >
                <h4><a style="color:white;" href="{% url 'logout' %}">Logout</a></h4> 
            </button>
        </div>
    </div>

</body>
</html>

{% endblock content %}