{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Tasks</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">

</head>
<body>

    
  
    <div class="container-fluid mx-auto row col-8">
        <div class="row">

            <h1 class="text-center m-3"> My Tasks </h1>



            {% for tsk in task %}
                <div class="mx-auto col-8">
                    <div class="col-sm-10">
                        <div class="card m-1 row">
                            <div class="card-body">
                                <h4 class="card-title">{{ tsk.title }}</h4>
                                    <p class="card-text">{{ tsk.content }}</p>
                                <a href="{% url 'updatetask' tsk.id %} " class="btn btn-primary">Update</a>
                                <a href="{% url 'deletetask' tsk.id %} " class="btn btn-primary">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
   
    

</body>
</html>

{% endblock %}