{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Tasks</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">

</head>
<body>

    
  
    <div class="container-fluid mx-auto row col-8">
        <div class="row">

            <h1 class="m-3"> My Task </h1>



            {% for tsk in task %}
                <div class="container row mx-auto col-8">
                    <div class="col-sm-8">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">{{ tsk.title }}</h4>
                                    <p class="card-text">{{ tsk.content }}</p>
                                <a href="#" class="btn btn-primary">Like</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
   
    

</body>
</html>

{% endblock %}