
body{
    
    color: #fff;
    justify-content: center;
    text-align: center;
    background-color: black;
}
a{
    text-decoration: none;
}
h1, h2{
    margin-top: 40px;
}

input[type=submit]{
    color: white;
    border-radius: 20px ;
    border: solid white;
    width: 10%;
}
.helptext{
    display: none;
}