
body{
    
    color: black;
    justify-content: center;
    text-align: center;
}
a{
    text-decoration: none;
}
h1, h2{
    margin-top: 40px;
}

input[type=submit]{
    background-color: rgba(39, 39, 185, 0.268);
    color: white;
    border-radius: 20px ;
    border: solid white;
    width: 10%;
}