{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <style>
        body{
            background-color: rgb(19, 29, 59);
            color: aliceblue;
            justify-content: center;
            text-align: center;
        }
        img{
            border-radius: 50%;
        }
        h1{
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <h1>About Us</h1>
    <hr>
    <h2>Lorem ipsum dolor sit amet consectetur.</h2> <br>
    {% comment %} <div class="text-center">
        <img src="https://avatars.githubusercontent.com/u/100623826?v=4" class="img-fluid rounded-circle" width="250" alt="Image floating canter">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br>Aut veritatis obcaecati officia porro labore quis, deleniti saepe minima ut ea magni, 
            <br>ipsum quibusdam perferendis sunt assumenda aliquam odio vero? Totam.</h4>
    </div> {% endcomment %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-ml-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <img src="https://avatars.githubusercontent.com/u/100623826?v=4"  alt="responsive webite" class="img-fluid">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h2>Bootstrap Responsive Website</h2>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br>Aut veritatis obcaecati officia porro labore quis, deleniti saepe minima ut ea magni, 
                <br>ipsum quibusdam perferendis sunt assumenda aliquam odio vero? Totam.</h4>
          </div>
        </div>
      </div>
   
</body>
</html>

{% endblock content %}