{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>About Us</h1>
    <br>
    
    <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3" style="border:1px solid #62c3f7">
            <img src="https://avatars.githubusercontent.com/u/100623826?v=4"  alt="responsive webite" class="img-fluid rounded-circle p-2">
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9" style="border:1px solid #62c3f7">
            <h2 class="p-3">Hugrisse Dev</h2>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br>Aut veritatis obcaecati officia porro labore quis, deleniti saepe minima ut ea magni, 
                <br>ipsum quibusdam perferendis sunt assumenda aliquam odio vero? Totam.
            </h5>
            <br>
            <br>
            <br>
            <h5><a href="https://github.com/HugrisseDev"> Check all my projects on github</a></h5>

          </div>
        </div>
      </div>
   
</body>
</html>

{% endblock content %}