{% extends "base.html" %}

{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task form</title>
    <style>
        body{
            background-color: rgb(19, 29, 59);
            color: aliceblue;
            justify-content: center;
            text-align: center;
        }
        h1, h2{
            margin-top: 40px;
        }

        form{
            margin: 40px;
        }

        input[type=submit]{
            background-color: rgba(39, 39, 185, 0.268);
            color: white;
            border-radius: 20px ;
            border: solid white;
            width: 10%;
        }
    </style>
</head>
<body>

<h2> please fill the task form</h2>


<form  method="post" autocomplete="off">

    {% csrf_token %}

    
    <br>

    <input type="submit" value="submit"/>
<!-- Button trigger modal -->
       
    <br>
    <br>

    <!-- <a href="{% url 'home' %}"> Go back !</a> -->

</form>



</body>
</html>

{% endblock %}