{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>
    <h1> Django Task Manager !</h1>
    <hr>

    <h2>Here is my Task list to complete before the end of February </h2>

    <br>

    {% for task in tasks %}

    <table class="table table-dark">
        {% comment %} <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
          </tr>
        </thead> {% endcomment %}
      
          <tr>
            <th>{{task.id}}</th>
            <td>{{task.title}}</td>
            <td>{{task.content}}</td>
            <td> <a href="{% url 'updateTask' task.id %}">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <p>Update</p>
            </button>
            </a> </td>
            <td> <a href="{% url 'deleteTask' task.id %}">

              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <p>Delete</p>
              </button>
      
            </a>
          
          </td>

          </tr>
    
      </table>

    {% endfor %}
  
    <br>
    <p>Enjoy your shopping :) </p>
    <img alt="blablabla" src=" {% static 'img/Perth-city.jpg' %}" />

    <script href="" src="{% static 'js/script.js' %}"></script>
</body>
</html>
{% endblock %}
