{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>

  
  <div class="container-fluid mx-auto col-8">
    <div class="row">

      <h1> Django Task Manager !</h1>
        
      <h2>Here is my Task list to complete before the end of February </h2>

      <br>
      <h5>Enjoy your coding :) </h5>
      
  </div>
</div>
    <script href="" src="{% static 'js/script.js' %}"></script>
</body>
</html>
{% endblock %}
