{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h2> Login </h2>

    <form method="post" autocomplete="off">

    {% csrf_token %} 
    
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-3">
            {{form|crispy}}
          {% comment %} {{form.first_name|as_crispy_field}} {% endcomment %}
          <br>

            <button type="submit" class="btn col-10 col-md-8 col-lg-12 btn-success btn-sm"  data-toggle="button" aria-pressed="false" >
                <h4 class=" mx-auto ">Login</h4>
            </button>
        </div>
    </div>
    {% comment %} {{form.as_p}} {% endcomment %}

</form>

<br>
<p> You don't have an account yet ? <a href="{% url 'register' %}">Register first</a></p>
<br>
  
</body>
</html>

{% endblock  %}