{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h2> Register </h2>
<form method="post" autocomplete="off">

    {% csrf_token %}
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-3">
            {{form|crispy}}
          {% comment %} {{form.first_name|as_crispy_field}} {% endcomment %}
          <br>
          <br>

            {% comment %} <button type="submit" class="btn col-10 col-md-8 col-lg-12 btn-success btn-sm"  data-toggle="button" aria-pressed="false" >
                <h4 class=" mx-auto ">Register</h4>
            </button>   {% endcomment %}



                    <!-- Button trigger modal -->
                    <button type="button" class="btn col-10 col-md-8 col-lg-12 btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
                        <h4 class=" mx-auto ">Register</h4>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    {% comment %} <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div> {% endcomment %}
                                    <div class="modal-body">
                                    
                                        <h4>Your account has been created !</h4>

                                    </div>
                                    <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" data-dismiss="modal">Great !</button>
                                    </div>
                                </div>
                        </div>
                    </div>


        </div>
    </div>

</form>

<br>
<p> Do you already have an account ? <a href="{% url 'login' %}">please Login</a></p>


</body>
</html>

{% endblock %}



